h1, h4 {
    padding-top: 20px;
}

#welcome-section {
    background-color:#A4CEF7;
}

#channel-section {
    background-color: #660066;
    color: white;
    height:2000px;
}

#weather-section {
    background-color:#A4CEF7;  /*#353DB2*/
    padding-top: 50px;
    padding-bottom: 50px;
}

#owl-section {
    padding-top: 50px;
    padding-bottom: 10px;
}



